@font-face {
  font-family: "Raleway Webfont";
  src: url('../font/raleway-thin.eot');
  src: url('../font/raleway-thin.eot?#iefix') format('embedded-opentype'), url('../font/raleway-thin.woff') format('woff'), url('../font/raleway-thin.ttf') format('truetype'), url('../font/raleway-thin.svg#ralewaythin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url('../font/raleway-extralight.eot');
  src: url('../font/raleway-extralight.eot?#iefix') format('embedded-opentype'), url('../font/raleway-extralight.woff') format('woff'), url('../font/raleway-extralight.ttf') format('truetype'), url('../font/raleway-extralight.svg#ralewayextralight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url('../font/raleway-light.eot');
  src: url('../font/raleway-light.eot?#iefix') format('embedded-opentype'), url('../font/raleway-light.woff') format('woff'), url('../font/raleway-light.ttf') format('truetype'), url('../font/raleway-light.svg#ralewaylight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url('../font/raleway-regular.eot');
  src: url('../font/raleway-regular.eot?#iefix') format('embedded-opentype'), url('../font/raleway-regular.woff') format('woff'), url('../font/raleway-regular.ttf') format('truetype'), url('../font/raleway-regular.svg#ralewayregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url('../font/raleway-medium.eot');
  src: url('../font/raleway-medium.eot?#iefix') format('embedded-opentype'), url('../font/raleway-medium.woff') format('woff'), url('../font/raleway-medium.ttf') format('truetype'), url('../font/raleway-medium.svg#ralewaymedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url('../font/raleway-semibold.eot');
  src: url('../font/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('../font/raleway-semibold.woff') format('woff'), url('../font/raleway-semibold.ttf') format('truetype'), url('../font/raleway-semibold.svg#ralewaysemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url('../font/raleway-bold.eot');
  src: url('../font/raleway-bold.eot?#iefix') format('embedded-opentype'), url('../font/raleway-bold.woff') format('woff'), url('../font/raleway-bold.ttf') format('truetype'), url('../font/raleway-bold.svg#ralewaybold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url('../font/raleway-extrabold.eot');
  src: url('../font/raleway-extrabold.eot?#iefix') format('embedded-opentype'), url('../font/raleway-extrabold.woff') format('woff'), url('../font/raleway-extrabold.ttf') format('truetype'), url('../font/raleway-extrabold.svg#ralewayextrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Webfont";
  src: url('../font/raleway-heavy.eot');
  src: url('../font/raleway-heavy.eot?#iefix') format('embedded-opentype'), url('../font/raleway-heavy.woff') format('woff'), url('../font/raleway-heavy.ttf') format('truetype'), url('../font/raleway-heavy.svg#ralewayheavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #f5f5f5;
  font-family: 'Raleway Webfont'
}

 .text-left {
   text-align: left;
 }

.text-center {
  text-align: center;
}

 .text-right {
   text-align: right;
 }

.text-bold {
  font-weight: 700;
}

.text-extra-bold {
  font-weight: 900;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear:after {
  clear: both;
  content: '';
  display: block;
}

.w50p {
  width: 50%;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.hidden {
  display: none;
}

.wrapper.self-assignment {
  width: 100%;
  background: url('../img/bg.png') no-repeat;
  background-size: cover;
}

.wrapper.self-assignment .content {
  width: 908px;
  min-height: 650px;
  margin: 0 auto;
}

.wrapper.self-assignment .content .heads-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 478px;
  width: 100%;
  background: url('../img/heads.png') no-repeat right top;
}

.wrapper.self-assignment .content .tablet-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 448px;
  width: 100%;
  background: url('../img/tablet.png') no-repeat center top;
}

.wrapper.self-assignment .content HEADER {
  padding-top: 38px;
}

.wrapper.self-assignment .content HEADER .logo-wrapper .logo IMG {
  width: 90px;
  height: auto;
}

.wrapper.self-assignment .content HEADER .logo-wrapper .text {
  color: #ffffff;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 700;
  width: 80px;
  line-height: 17px;
  padding-top: 25px;
}

.wrapper.self-assignment .content HEADER .pers-check {
  width: 237px;
  height: 44px;
  background: url('../img/pers-check-bg.png') no-repeat;
  color: #ffffff;
  line-height: 44px;
  font-size: 22px;
  cursor: pointer;
  margin-top: 55px;
}

.wrapper.self-assignment .content SECTION > .title {
  font-size: 42px;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 800;
}