module.exports = {
  // Application API settings
  SITE_DOMAIN: 'svdns.ovh',
  BACK_URL: 'http://backend.courses.svdns.ovh',
  WS_URL: 'ws://backend.courses.svdns.ovh',
  FRONT_URL: 'http://users.courses.svdns.ovh',

  // Facebook credentials
  FACEBOOK_APP_ID: '1857085194579636',

  // Google+ credentials
  GOOGLEPLUS_API_KEY: 'AIzaSyAbJMCRsUvtTgtBfphq5Pl5i07TG5fIl2w',
  GOOGLEPLUS_APP_ID: '1045377653058-3oblh8km1jaeilbu924iv44pbdl0cu3n',

  // LinkedIn credentials
  LINKEDIN_API_KEY: '86sluk3dcjvssi'
};
